*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 45px;
    margin-left: 5px;
}

.banner{
    width: 100%;
    height: 85px;
    background-color: white;
}

.title{
    margin-left: 20px;
}

.title img, .title h1{
    display:inline-block;
    vertical-align:middle;
    margin-top: 15px;
}

#logo{
    height: 60px;
}







/* contenuto principale */




.mainbox{
    
    border-radius: 10px;
    width: 990px;
    height: 630px;  
    margin: auto;
    margin-top: 50px;
    background-color: white;
    position: relative;
}

.corpo{
    position: absolute;
    margin-left: 70px;
    margin-top: 25px;
}
