*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f8f9;
}

.banner{
    width: 100%;
    height: 100px;
    background-color: white;
}

.title img, .title h1{
    display:inline-block;
    vertical-align:middle;
    margin-top: 25px;
}
