*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 45px;
    margin-left: 5px;
}

.banner{
    width: 100%;
    height: 110px;
    background-color: white;
/*     position: relative; */
}

.title{
    margin-left: 20px;
}

.title img, .title h1{
    display:inline-block;
    vertical-align:middle;
    margin-top: 25px;
}

#logo{
    height: 60px;
}


