*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f8f9;
}

.banner{
    width: 100%;
    height: 100px;
    background-color: white;
/*     position: relative; */
}

.content-dir-item h1 {
    display: inline-block;
    *display: inline; /* for older IE */
    *zoom: 1; /* for older IE */
}