*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 45px;
    margin-left: 5px;
}

.banner{
    width: 100%;
    height: 85px;
    background-color: white;
}

.title{
    margin-left: 20px;
}

.title img, .title h1{
    display:inline-block;
    vertical-align:middle;
    margin-top: 15px;
}

#logo{
    height: 60px;
}


hr{
    position: absolute;
    border: 1px solid red;


}




/* contenuto principale */




.mainbox{
    
    border-radius: 10px;
    width: 990px;
    height: 630px;  
    margin: auto;
    margin-top: 50px;
    background-color: white;
    position: relative;
}

.corpo{
    position: absolute;
    margin-left: 70px;
    margin-top: 25px;
}

.pulsanti{
    margin-bottom: 50px;
}

#button1{
    background-color: #47adf1;
    color: white; 
    border: 1px solid #47adf1;
}  

#button2{
    background-color: white;
    color: #a0a7aa; 
    border: 1px solid #a0a7aa;

} 

#button3 , #button4 , #button5 , #button6 , #button7 , #button8 , #button9 , #button10 , #button11 {
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 15px;
}

#button1 , #button2 {

    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 8px;
}

.subtext{
    margin-top: 20px;
}

p, h2{
    padding: 7px;
}

hr{
    border: 1px solid /* #f6f8f */red;
    position: absolute;
}